{
    "dev": {
        "host": "localhost",
        "user": "AllMarketing",
        "password" : "Pw102800",
        "database": "crm-cms",
        "driver": "mysql",
        "multipleStatements": true
    }
}
