<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
    <span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="admin.dashboard">
            <div class="item-content">
                <div class="item-media">
                    <letter-icon data="{{ 'sidebar.nav.dashboard.MAIN' | translate }}" char-count="2" size="sm"></letter-icon>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.dashboard.MAIN"> Dashboard </span>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
